{% extends 'base.html.twig' %}

{% block title %}
    Password generator
    
{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
        <h1 class="mt-5 mb-5 d-flex align-items-center justify-content-center">
            Password Generator                            
                    
        </h1>

        <form methode="get" action="{{ path ('app_generate_password')}}">
            <div>
                <label for="length">
                    Length           
                                    
                </label>
                <select id="length" name="length">
                    {% for i in 12..60 %}
                        <option value="{{ i }}" {{ i == 16 ? 'selected'  }}>
                            {{ i }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-switch form-check ">
                <label for="uppercase">
                    Uppercase letters                         
                </label>
                <input type="checkbox" id="uppercase" name="uppercase"></div>

                <div class="form-switch form-check ">
                    <label for="digits">
                       Digits                                                      
                    </label>
                    <input type="checkbox" id="digits" name="digits"></div>

                    <div class="form-switch form-check ">
                        <label for="uppercase">
                            <label for="special">
                                Special Characters                                                     
                            </label>
                        </label>

                        <input type="checkbox" id="special" name="special_characters"></div>
                        <button type="submit" class="btn">
                            Generate password             
                        </button>
                    </form>

                    <footer class="py-3 footer mt-auto">
                        <p class="text-center d-flex align-items-center justify-content-center mb-1 mt-1">
                            Built with &hearts; 2022 by Symfony
                        </p>
                    </footer>

                </div>
            {% endblock %}
            