{% extends 'base.html.twig' %}

{% block title %}
    Password generator
    
{% endblock %}

{% block body %}
    <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
        <h1 class="mt-5 mb-5 d-flex align-items-center justify-content-center">
            Password Generator                   
        </h1>
       
        <footer class="py-3 footer mt-auto bg-light">
            
            <p class="text-center d-flex align-items-center justify-content-center mb-1 mt-1">
            Built with &hearts; 2022 Symfony
            </p>
        </footer>

    </div>
{% endblock %}
