{% extends "base.html.twig" %}

{% block body %}
    <h1>
        hello
    </h1>
    <p class="password-text">
        {{ password }}
    </p>
    <button class="btn btn-copy">
        Copy          
    </button>
{% endblock %}
