{% extends "base.html.twig" %}

{% block body %}
<div class="container-sm d-flex align-items-center justify-content-center w-100 h-100  mx-auto flex-column">
    <div class="card text-center shadow mt-5 w-75" style="max-width: 740px;">
    
        <div class="card-header">
            <h1 class="h4 mt-2 mb-2">
                Votre mot de passe 🎉
            </h1>
        </div>
        <div class="card-body">
            <div class="alert alert-success py-3">
                <strong class="password-text">
                    {{ password }}
                </strong>
            </div>
            <button class="btn btn-primary btn-copy mt-3">
                Copy          
            </button>
            <button class="btn btn-primary mt-3 btn-refresh">Refresh</button>
        </div>
        <div class="card-footer mb-0 text-muted text-center">
            <p class="m-1">
                <a href="{{ path('app_home') }}" class="text-decoration-none">
                    Go back to home page            
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
