@import "~bootstrap/scss/bootstrap";

body {
    background:#3daaf0;
    color: #f1f1f1;
}

main{
    height: 100vh;
}

footer{
    background:#3a4268;
}

button{
    background-color:#6c27a1 !important; 
    color:#f1f1f1 !important;
}

button:hover{
    color:#edededff !important;
}